.header{
    background-color: #d1b70e;
    background-image: linear-gradient(147deg, #FFE53B 0%, #df8e8e 74%);
    background-size: cover;
    background-color: aquamarine;
    
    display: flex;
    justify-content: space-around;
     padding: 40px; 
    padding-left: 200px;
    font-size: 10px;
    position: relative;
    gap: 150px;
    position: fixed;
    button{
        right: 1px;
        padding: 5px;
        font-size: 30px;
        margin: auto;
        color: #352a2a;
        border: none;
        background-color: transparent;
        
        
        
    }
    h2{
        gap: 150px;
        gap;
    }
    img{
        position: absolute;
        font-size: 20px;
        top: 25px;
        left: 2px;
    }
    .v1{
        border-right: 1px solid;
    }
    i{
        padding: 1px;
        color: rgb(0, 0, 0);
        gap: 60px;
        font-size: 30px;
    }
    
  
}


.a1{
    padding: 50px;
    background-image:background-color: #00DBDE;
    background-image: linear-gradient(147deg, #FFE53B 0%, #df8e8e 74%);
     ;
    h1{
        font-size: 100px;
        padding: auto;
        color: rgb(68, 109, 109)2, 107, 107);
    }
    text-align: center;
    

}
}
.a2{
font-size: 30px;
font-family: sans-serif;
}
.header2{
    font-family: sans-serif;
    display: flex;
    gap: 40px;
    b{
        font-size: larger;
        color: red;
    }
    h1{
        color: rgb(76, 76, 209);
    }
    p{
        font-size: large;
    }
}
.header4{
    text-align: center;
    justify-content: center;
    display: flex;
    padding: 30px;
    background-color: rgb(243, 243, 0);
    .p1{
        font-size: 30px;

    }
    b{
        color: red;
    }
}
.header3{
    text-align: left;
    h1{
        color: rgb(60, 60, 165);
        text-align: left;

    }
    b{
        color: red;
        font-size: 30px;
        text-align: left;
    }
    p{
        font-size: large;
        text-align: left;
    }
}
.red{
    font-family: sans-serif;
    background-color: #f02727;
    padding: 50px;
    .m1{
        font-size: 40px;
    }
     h1{
        font-size: 50px;
        padding: 10px;
    } 
}
.R1{
    font-size: 30px;
    margin: 10px;
    display: flex;
    gap: 100px;
    color: white;
    font-family: sans-serif;
    img{
        font-size: 50px;
        height: 200px;
        border-radius:32%;

    }
    h4{
        color: #dfbb05;
    }
}
.last{
    background-color: rgb(126, 116, 116);
    color: white;
    padding: 100px;
    font-size: 100px;
    position: relative;
    font-family: sans-serif;

    .side{
        display: flex;
        gap: 100px;

    }
    input{
        font-size: 30px;
        
        border-radius: 10px;
    }
    .u1{
        padding: 150px;
        padding-bottom: 10px;
        border-radius: 10px;
    }
    button{
        font-size: 20px;
        color: white;
        padding: 10px;
        width: 160px;
        border-radius:10px;
        background-color: #000000;
    }
    h1{
        font-size: 40px;
    }
}
.copy{
    display: flex;
    background-color: rgba(201, 147, 147, 0.857);
    padding: 20px;
    font-size: 10px;
    color: white;
    gap:200px;
    u{
        font-size: 30px;
        color: #180a0a;
    }
}